.MuiButton-root {
  background-color: brown !important;
  font-size: 4vw !important;
  color: "#ffcb00" !important;
  margin-bottom: 80px !important;
}

.go-vegan {
  font-size: 18vw;
  line-height: 1;
  color: brown;
}
.y-section {
  height: 36vh;
  background-color: #ffcb00;
}

.img-section {
  height: 68vh;
  position: relative;
}

.nav-item {
  font-size: 20px;
}

@media (max-width: 990px) {
  .MuiButton-root {
    font-size: 6vw !important;
  }
  .go-vegan {
    font-size: 20vw;
  }
  .y-section {
    height: 30vh;
  }
  .img-section {
    height: 76vh;
  }
}

@media (max-width: 500px) {
  .MuiButton-root {
    font-size: 10vw !important;
    margin-bottom: 140px !important;
  }
  .y-section {
    height: 20vh;
  }
  .img-section {
    height: 85vh;
  }
  .nav-item {
    font-size: 3vw;
    display: none;
  }
}
