body {
  transition: 2000ms;
}

.MuiButton-root {
  background-color: brown !important;
  font-size: 4vw !important;
  color: "#ffcb00" !important;
  margin-bottom: 80px !important;
  text-decoration: none !important;
}

.go-vegan {
  font-size: 16vw;
  line-height: 1;
  color: brown;
  text-align: center;
}

.y-section {
  height: 36vw;
  background-color: #ffcb00;
}

.img-section {
  height: 68vh;
  position: relative;
}

.nav-item {
  font-size: 20px;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  max-width: 90%;
  margin: auto;
  padding-top: 15vw;
}

.heading {
  color: brown !important;
  text-align: center;
  font-size: 5vw !important;
  padding-top: 6vw;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
}
.menu-card {
  background-color: #ffe6e5 !important;
  height: 470px !important;
  transition: 800ms;
  box-shadow: 5px 5px 5px rgba(224, 221, 221, 0.499);
}

.menu-card:hover {
  transform: scale(1.02);
}

.meal-wrapper {
  max-width: 70%;
  margin-top: 10%;
  margin-bottom: 15%;
}

.meal-heading {
  position: relative;
  font-size: 4vw;
  color: brown;
  text-align: center;
  max-width: 50vw;
  padding-top: 0vw;
  background-color: transparent;
}
.meal-image {
  width: 50vw;
  height: 500px;
  object-fit: cover;
  margin: 2vw;
  border-radius: 10px;
}

.meal-des {
  font-size: 2vw;
}

.back {
  position: fixed;
  top: 10%;
  left: 20px;
  cursor: pointer;
  font-size: 20px;
  color: black;
  display: block;
}

@media (min-width: 1100px) {
  .menu-grid {
    max-width: 80%;
  }
}

@media (max-width: 990px) {
  .MuiButton-root {
    font-size: 6vw !important;
  }
  .go-vegan {
    font-size: 18vw;
    line-height: 0.8;
    text-align: center;
  }
  .hero-wrapper {
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .y-section {
    flex-grow: 1;
  }
  .img-section {
    flex-grow: 1;
  }
  .menu-grid {
    grid-template-columns: 1fr 1fr;
    max-width: 93%;
    gap: 1.7vw;
    padding-top: 22vw;
  }
  .heading {
    font-size: 7vw !important;
    padding-top: 11vw;
  }
  .meal-heading {
    font-size: 4vw !important;
    padding-top: 4vw;
  }
  .meal-image {
    width: 70vw;
    height: 500px;
    object-fit: cover;
    margin: 3vw;
  }
  .meal-des {
    font-size: 3vw;
  }

  .back {
    visibility: hidden;
  }
}

@media (max-width: 600px) {
  .menu-grid {
    grid-template-columns: 1fr;
    max-width: 93%;
    gap: 1.7vw;
    padding-top: 30vw;
  }
  .meal-wrapper {
    max-width: 80vw;
  }
  .heading {
    font-size: 10vw !important;
    padding-top: 16vw;
  }
  .meal-heading {
    font-size: 6vw !important;
    padding-top: 13vw;
    max-width: 70vw;
  }
  .meal-image {
    width: 80vw;
    height: 400px;
    object-fit: cover;
    margin-bottom: 5vw;
  }
  .nav-item {
    font-size: 2.8vw;
  }
  .meal-des {
    font-size: 5vw;
    line-height: 1.3;
  }
}

@media (max-width: 500px) {
  .MuiButton-root {
    font-size: 10vw !important;
    margin-bottom: 100px !important;
  }
  .y-section {
    height: 60vh;
  }
  .img-section {
    height: 48vh;
  }
  .nav-item {
    font-size: 3vw;
    display: none;
  }
  .go-vegan {
    font-size: 25vw;
    text-align: center;
    line-height: 1;
  }
}

@media (max-width: 350px) {
  .menu-grid {
    grid-template-columns: 1fr;
    max-width: 93%;
    gap: 1.7vw;
    padding-top: 36vw;
  }
  .heading {
    font-size: 10vw !important;
    padding-top: 24vw;
  }
  .meal-heading {
    font-size: 6vw !important;
    padding-top: 12vw;
    max-width: 70vw;
  }
  .meal-image {
    width: 80vw;
    height: 300px;
    object-fit: cover;
    margin-bottom: 4vw;
  }
}
