.MuiButton-root {
  background-color: brown !important;
  font-size: 4vw !important;
  color: "#ffcb00" !important;
  margin-bottom: 80px !important;
  text-decoration: none !important;
}

.go-vegan {
  font-size: 16vw;
  line-height: 1;
  color: brown;
  text-align: center;
}
.y-section {
  height: 36vw;
  background-color: #ffcb00;
}

.img-section {
  height: 68vh;
  position: relative;
}

.nav-item {
  font-size: 20px;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  max-width: 90%;
  margin: auto;
  padding-top: 15vw;
}

.heading {
  color: brown !important;
  text-align: center;
  font-size: 5vw !important;
  padding-top: 6vw;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
}
.menu-card {
  background-color: #ffe6e5 !important;
  height: 470px !important;
}

@media (min-width: 1100px) {
  .menu-grid {
    max-width: 80%;
  }
}

@media (max-width: 990px) {
  .MuiButton-root {
    font-size: 6vw !important;
  }
  .go-vegan {
    font-size: 19vw;
    text-align: center;
  }
  .y-section {
    height: 65vw;
    width: 100%;
  }
  .img-section {
    height: 50vh;
  }
  .menu-grid {
    grid-template-columns: 1fr 1fr;
    max-width: 93%;
    gap: 1.7vw;
    padding-top: 22vw;
  }
  .heading {
    font-size: 7vw !important;
    padding-top: 11vw;
  }
}

@media (max-width: 600px) {
  .menu-grid {
    grid-template-columns: 1fr;
    max-width: 93%;
    gap: 1.7vw;
    padding-top: 30vw;
  }
  .heading {
    font-size: 10vw !important;
    padding-top: 16vw;
  }
  .nav-item {
    font-size: 2.8vw;
  }
}

@media (max-width: 500px) {
  .MuiButton-root {
    font-size: 10vw !important;
    margin-bottom: 100px !important;
  }
  .y-section {
    height: 60vh;
  }
  .img-section {
    height: 48vh;
  }
  .nav-item {
    font-size: 3vw;
    display: none;
  }
  .go-vegan {
    font-size: 25vw;
    text-align: center;
  }
}

@media (max-width: 350px) {
  .menu-grid {
    grid-template-columns: 1fr;
    max-width: 93%;
    gap: 1.7vw;
    padding-top: 36vw;
  }
  .heading {
    font-size: 10vw !important;
    padding-top: 24vw;
  }
}
